body {
  /* position: relative; */
  /* padding-bottom: 8rem; */
  min-height: 100vh;
  background-color: aqua !important;
}

.kode-mono {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bd-subnavbar {
  position: -webkit-sticky;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 2rem;
}
