
###< symfony/phpunit-bridge ###
###Docker###
#/database/data/*
#!/database/data/.gitkeep
#!/logs/nginx/.gitkeep
### Fin Docker###
.env*
**/.idea/**
**/var/**
**/vendor/**
**/sessions/**
**/logs/**
**/zips/**
**.zip
**.log
**/uploads/**

#front
**/node_modules/**
**/.nuxt/**
**dist
**/.output/**

**/zips/**
**.zip

#front
**dist
**/.output/**


#.phpunit
#.phpunit
#.phpunit.result.cache
#/phpunit.xml
